 <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript" async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
  </script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <!-- <script src="../js/script.js"></script> -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

    <form action="" class="form-container" id="advanced-search">
        <div>  <!-- filtering options by prefix | It is our choice how we will do this.
            When the user selects all, we decide if "all" just means the 3 other options, or if that includes journal reference, publish date, etc. For now, we can stick to the first -->
            <label>Find term in:</label>
            <br>
            <label><input type="checkbox" name="prefix" value="ti">Title</label>
            <label><input type="checkbox" name="prefix" value="au">Author</label>
            <label><input type="checkbox" name="prefix" value="abs">Abstract</label>
            <label><input type="checkbox" name="prefix" value="all" id="all-prefix">All</label>
        </div>
        <div>  <!-- filtering options by subject. there are more, but this is for now  -->
            <label>Include categories:</label>
            <br>
            <label><input type="checkbox" name="subject" value="cs">Computer Science</label>
            <label><input type="checkbox" name="subject" value="econ">Economics</label>
            <label><input type="checkbox" name="subject" value="math">Mathematics</label>
            <label><input type="checkbox" name="subject" value="stat">Statistics</label>
        </div>
    </form>


    <header>
        <h1><a href="/">Paper Pulse</a></h1>
        <div>
            <form action="/search" method="POST">
                <input type="text" name="search-query" id="search-query" placeholder="Search term...">
                <a href="/search"> <button id="search">Search</button> </a>
                <a class="button" id="toggle-filter">Filter</a>
            </form>
        </div>
        <nav>
            <ul>
                <!-- when a user is signed in, this will be replaced by a single element. how? -->
                <li><a class="button" href="account.html">Sign In</a></li>
                <li><a class="button" href="account.html">Sign Up</a></li>
            </ul>
        </nav>
    </header>

    <!-- footer here -->
    <!-- Maybe delete label since we have placeholder -->
    <!-- <label for="search-query">Search:</label> -->
    <!-- <input type="text" name="search-query" id="search-query" placeholder="Search..."><button id="search">Search</button><button id="filter">Filter</button> -->

 {% for value in articles.values() %}
	<tr>
        <td>Link : <a href = {{value["link"]}}> Click here to see the details</a> </td><br>
        <td>Published Date: {{ value["published"] }}</td><br>
		<td>Title : {{ value["title"] }}</td><br>
        <td>Summary : {{ value["summary"] }}</td><br>
		<td>Authors : {{ value["authors"] }}</td><br>
	</tr>
    <br>
{% endfor %}

</body>
</html>